body {
  font: 15px/1.5 'Roboto Cn';
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
/* Global CSS */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1 {
  height: 38px;
  background: #0931b3;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Header */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/showcase.jpg') center no-repeat;
  padding-top: 3px;
}
.main {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.0rem;
  z-index: 1;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5));
}
.brand {
  font-size: 2rem;
  font-weight: 300;
  font-family: cursive;
  color: #0931b3;
  padding-top: 0px;
  animation: slideIn .5s forwards;
}
nav h1 a {
  text-decoration: none;
}
nav ul {
  display: flex;
  padding-left: 40%;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  padding: 0;
  margin: 0 2rem;
  position: relative;
  letter-spacing: 2px;
  text-decoration: none;
  color: #ccc;
}
nav ul li a:last-child {
  margin-right: 0;
}
nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0931b3;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
nav ul li a::before {
  top: 0;
  transform-origin: left;
}
nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

/* Showcase */
#showcase {
  padding-top: 180px;
  min-height: 400px;
  text-align: center;
  color: white
}
#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}
/* Search Area */
#search {
  padding: 15px;
  color: black;
  background: #ccc;
}
#search h1 {
  float: left;
}
#search form {
  float: right;
  margin-top: 15px;
}
#search input[type='text'] {
  padding: 4px;
  height: 25px;
  width: 250px;
  font-family: cursive
}

/* Services */
#services {
  margin-top: 20px;
}
#services .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#services .box img {
  width: 90px;
}

/* footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: black;
  background-color: #0931b3;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {
  header .main,
  header .brand,
  header nav,
  header nav ul,
  header nav li,
  #search h1,
  #search form,
  #services .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1 {
    margin-top: 40px;
  }
  #search button {
    display: block;
    width: 100%;
  }
  #search form input[type='text'] {
    width: 100%;
    margin-bottom: 5px;
  }
}